<div class="user-card">
  <h2 class="user-name">{{ data.fullName | titlecase }}</h2>

  <p class="user-status">
    Status:
    <span [style.color]="data.status | userStatus">{{
      data.status | userStatus
    }}</span>
  </p>

  <p class="user-info">
    Account Balance:
    {{ data.accountBalance | currency : "GBP" : "symbol" }}
  </p>

  <p class="user-info">
    Registered: {{ data.registrationDate | date : "mediumDate" }}
  </p>

  <p class="user-info last-login">
    Last Login: {{ data.lastLogin | date : "mediumDate" }}
    {{ data.lastLogin | userLogin }}
  </p>
</div>
